@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      /* Hide scrollbar for Chrome */
      .no-scrollbar::-webkit-scrollbar,
       body::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar */
      .no-scrollbar-custom {
          -ms-overflow-style: none;  
          scrollbar-width: none;  
  }
}